* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: rgb(96, 232, 210);
    color: Black;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    position: relative;

}

.nav {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    gap: 16px;
    text-decoration: none;
}

.nav a {
    color: Black;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(2, 0, 0);
    cursor: pointer;
    text-decoration: none;
}

.taskList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.card {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(154, 218, 211);
    border-radius: 8px;
    padding: 15px;
    margin-top: 3%;
    margin-left: 1%;
    overflow-wrap: anywhere;
    word-break: break-word;
}


.addBtn {
    background-color: rgb(147, 254, 160);
    color: Black;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(2, 0, 0);
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 1%;
    padding-right: 1%;
    flex-shrink: 0;

}

.deleteBtn {
    background-color: rgb(249, 92, 92);
    color: Black;
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(2, 0, 0);
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    flex-shrink: 0;

}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgb(87, 87, 83) transparent;
}

.new {
    background-color: rgb(154, 218, 211);
    padding: 20px;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}