.title {
    background-color: rgb(160, 223, 83);
    color: Black;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;

}

.card {
    display: flex;
    gap: 10px;
    background-color: rgb(190, 217, 157);
    border-radius: 5px;
    margin-right: 60%;
    margin-top: 2%;
    margin-left: 1%;
    padding: 1%;
}